.profile-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 6px solid darkmagenta;
    width: 300px;
    height: 500x;
    max-width: 400px;
    margin: o auto;
  }
  
  .profile-card__image {
    display: block;
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid darkmagenta;
    
  }
  
  .profile-card__name {
    margin-top: 16px;
    margin-bottom: 8px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: darkmagenta;
    text-align: center;
  }

  .profile-card__stars {
    margin-top: 2px;
    margin-bottom: 2px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: darkmagenta;
    text-align: center;
  }
  
  .profile-card__description {
    margin-bottom: 16px;
    font-size: 0.9rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
  }
  
  .profile-card__button-conteiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
  }

  .profile-card__button {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border: 3px solid darkmagenta;
    width: 100px;
  }
  
  
  .profile-card__button--primary {
    background-color: white;
    color: darkmagenta;
    border: darkmagenta;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid darkmagenta;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 2px;
  }
  
  .profile-card__button--secondary {
    background-color: darkmagenta;
    color: white;
    margin-left: 5px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 2px;
  }
  
  .profile-card__button:hover {
    background-color:darkorchid;
    color: white;
  }
  
  .profile-card__button--secondary:hover {
    background-color: #e9ecef;
    color: darkorchid;
  }
  